// app global css in SCSS form
@import './nicepage.css';
@import './Página-2.css';

// @import './Copy-of-Página-2.css';


@font-face {
    font-family: customfont;
    src: url(./fonts/poppins-v15-latin-regular.woff);
  }
  
  // declare a class which applies it
  .font-poppins {
    font-family: 'customfont';
  }